:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-variation-settings: "wdth" 100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset box-sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #8b5e3c;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #1a237e;
}

.page-container {
  width: 100%;
  max-width: 59.188rem;
  margin: 0 auto;
  padding: 1rem;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
.form-header,
.recipe-name {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.5rem;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-header {
  margin-left: 5.75rem;
}
.recipe-name {
  margin-top: 2rem;
}
h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVBAR */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0.3rem 0.75rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: #704830;
  font-family: "Fredoka", sans-serif;
}
.navbar-image {
  max-width: 10rem;
  width: auto;
  height: auto;
}

/* RECIPE LIST */

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 12rem;
  width: 100%;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: #f5e9df;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recipe-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  flex: 0 1 9.375rem;
  transition: transform 0.1s ease-in-out;
  will-change: transform;
  cursor: pointer;
}
.recipe-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}
.recipe-list-item:hover {
  transform: scale(1.05);
}

/* RECIPE DETAILS */

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2rem 12rem 2rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: #f5e9df;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recipe-header {
  display: flex;
  flex-direction: column;
}
.recipe-header-text {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
.recipe-details-image {
  width: 100%;
  aspect-ratio: 4 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
  padding-top: 2rem;
}
.recipe-navbar {
  display: flex;
  width: 100%;
  min-height: 2.75rem;
  align-items: center;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: #d6c1ad;
  font-family: "Fredoka", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}
.recipe-navbar-button1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-right: 1px solid grey;
  border-radius: 0.75rem 0 0 0;
  color: #000000;
  opacity: 1;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.recipe-navbar-button1:hover {
  border-radius: 0.75rem 0 0 0;
  background-color: #a78b70;
  color: #000000;
}
.recipe-navbar-button2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 0 0.75rem 0 0;
  color: #000000;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.recipe-navbar-button2:hover {
  border-radius: 0 0.75rem 0 0;
  background-color: #a78b70;
  color: #000000;
}

/* RECIPE DETAILS MARKDOWN */

.markdown-ingredients,
.markdown-instructions {
  width: 100%;
}
.markdown-ingredients ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.markdown-ingredients li {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 0.5rem;
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 0.8rem 0;
}
.markdown-instructions ol {
  padding-left: 0;
  margin-left: 2ch;
}

/* ADD RECIPE */

.recipe-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  padding-top: 0.75rem;
  padding-bottom: 12rem;
  width: 100%;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: #f5e9df;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recipe-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  width: 90%;
}
.form-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.form-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 6.4rem;
}
.form-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-field,
.text-area {
  width: 100%;
  min-height: 2rem;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0.2rem;
}
.text-area {
  padding: 0.3rem;
}
.error {
  color: red;
  font-size: 0.8rem;
  height: 1.2rem;
  margin: 0;
  padding: 0;
}
.form-button {
  max-width: 5rem;
  aspect-ratio: 2 / 1;
  margin-left: 5.75rem;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 11px;
  }
}
